/* Estilos generales */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/primeraChamba/static/fondo.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la pantalla */
    margin: 0;
}

/* Estilos del formulario */
form {
    position: relative; /* Ya no es absolute */
    width: 600px;
    background: rgba(71, 71, 71, 0.53);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 110px; /* Espaciado desde la parte superior */
}

/* Título */
h2 {
    text-align: center;
    width: 100%;
}

/* Agrupaciones de campos */
.form-group {
    display: flex;
    gap: 15px;
    width: 100%;
}

.form-group div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Etiquetas */
form label {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

/* Inputs */
form input,
form input[name="telefono"],
form input[name="ingreso"],
form input[name="hora"],
form input[name="entrega"] {
    width: 95%; /* Mismo tamaño */
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botón */
button {
    width: 98%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Etiquetas con asterisco */
label[for="nombre"]::after,
label[for="dni"]::after,
label[for="telefono"]::after,
label[for="modelo"]::after,
label[for="patente"]::after,
label[for="estado"]::after,
label[for="ingreso"]::after,
label[for="hora"]::after {
    content: " *";
    color: rgb(240, 251, 25);
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #333;
    opacity: 0.8;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    flex-shrink: 0; /* Asegura que el footer no se encoja */
    position: relative;
    bottom: 0;
}

